{$TICKETS_HOST:tickets.{$DOMAIN:localhost}} {
    reverse_proxy pretix:80
}

{$TALKS_HOST:talks.{$DOMAIN:localhost}} {
    handle /media/* {
        root * /srv/pretalx
        file_server
    }
    handle {
        reverse_proxy pretalx:80
    }
}
